footer {
    // background-color: black;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    border-top: 4px solid $tomato-color;
    text-align: center;
    padding-bottom: 18px;
    .footer-logo {
        color: $tomato-color;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        padding: 18px 0;
        text-shadow: none;
    } 
    
    h5 {
        color: $grey-dark;
    }
    
    nav {
        font-family: "Roboto-Light";
        color: $grey-normal;
        // line-height: 24px;
        max-width: 200px;
        padding: 8px 0 16px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                list-style: none;
            }
        }
        
    }  
    .designer {
        color: $grey-light;
        text-transform: uppercase;
        padding-top: 20px;

        span{
            display: block;
            padding-bottom: 10px;
        }
    }

}