@import "fonts";
@import "color";
@import "normalize";
@import "header";
@import "footer";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

body {
	background-color: white;
}

.container {
	width: 320px;
	// max-width: 940px;
	margin: 0 auto;
}

//*************************************************************************************** 
//******************************** MAIN SECTION *****************************************
//*************************************************************************************** 
main {
	h3 {
		font-family: "Montserrat-Bold";
		font-size: 21px;
		line-height: 21px;
		color: $grey-dark;
		text-align: center;
		border: 1px solid blue;
		// margin-bottom: 10px;
		padding: 0 10px 5px;
	}
}

.step-card-section{
	padding: 40px 10px 0; 
	border: 1px dashed grey;
}

.step-card {
	width: 300px;
	height: 240px;
	margin: 10px auto;
	border: 1px solid red;
	border-radius: 5px;
	padding: 20px;
	// background-color: $primary-color;

	.step-card__stiker {
		margin-top: 50px;
		width: 70px;
		height: 20px;
		border-radius: 10px;
		background-color: $tomato-color;
		text-transform: uppercase;
		font-family: "Montserrat-Regular";
		font-size: 10px;
		color: white;
		line-height: 22px;
		text-align: center;
		vertical-align: middle;
	}
}

.step-card--1 {
	background-image: url("../img/step-card-1-bkg.jpg");
}
.step-card--2 {
	background-image: url("../img/step-card-2-bkg.jpg");
}
.step-card--3 {
	background-image: url("../img/step-card-3-bkg.jpg");
}

.step-card__header {
	margin-top: 18px;
	color: white;
	font-family: "Montserrat-Bold";
	font-size: 20px;
	line-height: 24px;
	border: 1px solid red;
}

.step-card__description {
	margin-top: 12px;
	font-size: 14px;
	font-family: "Roboto-Light";
	color: $grey-light;
	border: 1px solid yellow;
}


.partner-card-section {
	padding: 35px 0 38px 0;
	border: 1px dashed green;

	.button-transparent{
		display: block;
		margin: 5px auto 0;
		height: 40px;
		width: 280px;
		border: 2px solid $tomato-color;
		border-radius: 20px;
		background-color: transparent;
		font-family: "Montserrat-Bold";
		font-size: 14px;
		color: $tomato-color;
	}
}

.partner-card {
	padding: 25px 0;
	position: relative;
	text-align: center;

	.partner-card__img {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 122px;
		height: 122px;
	
		img {
			border-radius: 50%;
		}
	}
	
	.partner-card__stiker{
			position: absolute;
			right: -5px;
			bottom: -5px;
			height: 40px;
			width: 40px;
			border-radius: 50%;
	}	
	
	.partner-card__name{
		font-family: "Montserrat-Bold";
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		margin-top: 22px;
	}

	.partner-card__about{
		display: block;
		width: 220px;
		margin: 17px auto 0;
		font-family: "Roboto-Light";
		font-size: 14px;
		color: $grey-normal;
	}

} //partner-card end 